html,
body {
  width: 100%;
}
body {
  font-family: "Roboto Mono", monospace;
}
#container {
  text-align: center;
}
h3 {
  text-align: center;
  height: 35px;
  background-color: #e2434b;
  color: antiquewhite;
  padding-bottom: 5px;
}
#playerDiv {
  height: 50%;
  width: 90%;
  align-items: center;
  margin-left: 50px;
}
table{
  border: 5px;
}
#position {
  display: none;
}
#positionSelectFwd {
  display: none;
}
#positionSelectMid {
  display: none;
}
#positionSelectDef {
  display: none;
}
#clubSelect{
  margin-bottom: 10px;
}
h5{
  background-color: #a80038;
  display: inline-block;
  color: antiquewhite;
}
th {
  background-color: #ffeecf;
}